# Dependencies
node_modules/
venv/
.env

# IDE specific
.vscode/
.idea/
*.swp
*.swo

# Cursor specific
.cursor/
.cursor-log/

# Environment variables
.env        

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Other
*.sqlite3


